/* تنسيق الأساس */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* تنسيق الهيدر */
.header {
    background-image: url('https://b.top4top.io/p_33058wtp81.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

/* تنسيق حركة الشعار */
.logo {
    width: 80px;
    height: auto;
}

/* تنسيق القسم المبدئي */
.intro {
    text-align: center;
    padding: 50px 20px;
}

/* تأثير الانقلاب بين الصور */
.image-flip {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    animation: flipImages 4s infinite; /* تحديد سرعة الحركة */
}

.intro-image {
    width: 100%;
    height: auto;
    backface-visibility: hidden; /* إخفاء الوجه الخلفي للصورة أثناء التحويل */
    transition: transform 2s ease-in-out;
}

/* تحديد الحركة بين الصور */
@keyframes flipImages {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* تنسيق الفوتر */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
